header{
    background-color: aqua;
    height: 10vh;
}
figure{
    background-color: blueviolet;
    height: 10vh;
}
main{
    background-color: chocolate;
    height: 10vh;
}
section{
    width: 70%;
    border: solid 2px;
    margin: auto;
    margin-bottom: 10px;
}
h2{
    width: 50%;
    margin : auto;
    text-align: center;
    color: rosybrown;
}
.entete{
    background-color: rgb(87, 83, 83);
    display: flex;
    justify-content: right;
}
.claire{
    background-color: rgb(134, 133, 133);
    height:  3vh;
    justify-content: space-between;
    display: flex;
}
.blanc{
    height: 3vh;
    justify-content: space-between;
    display: flex;
}
.prix{
    margin-right: 50px;
    display: flex;
}
.hot{
    margin-right: 22px;
}
.Iced{
    margin-right: 20px;
}
.Blended {
    margin-right: 20px;
}
footer{
    display: none;
}
.ten{
    margin-right: 25px;
}
.fifteen{
    margin-right: 25px;
}
.zero{
    margin-left: 15px;
}